body {
  background-color: #f9f6f2;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 1.5rem;
  min-height: 80px;
  font-size: 1.5rem;
}

.open-btn {
  position: absolute;
  top: 0;
  right: 1.5rem;
  min-height: 80px;
  font-size: 1.5rem;
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
    flex-direction: row;
  }

}

.menu-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.react-player {
  display: flex;
  width: 840px !important;
  height: 357px !important;
}